<h4>New Wish</h4>

<label>Name</label>
{{view Ember.TextField valueBinding="name" placeholder="e.g., NERF gun"}}

<div>
  <input type="button" value="Add" class="btn btn-primary" {{action add}}>
</div>
