/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


.container {
  width: 750px;
  padding: 0 2em;
}

.letter_holder {
  position: fixed;
  right: 2em;
}

.letter {
  border: 1px solid;
  padding: 1em;
  font-size: 1.2em;
  width: 23em;
  min-height: 20em;
  box-shadow: 2px 2px 3px#999;
  border-radius: 3px;
  background-color: #FFFEF5;
  margin-bottom: 1em;
}

.wishes {
  margin-top: 1em;
}

.wishes h4 {
  margin-top: 1em;
}

.wishes li {
  margin-bottom: 5px;
  width: 10em;
}

.wishes input[type="text"] {
  float: left;
  margin-right: 1em;
}

.wishes li button {
  margin-left: 1em;
}

img {
  float: left;
  margin-right: 2em;
}